<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="gz::sim::systems::DiffDrive"
            filename="gz-sim-diff-drive-system">

      <!-- Колёса -->
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.19</wheel_separation>
      <wheel_radius>0.0325</wheel_radius>

      <!-- Лимиты -->
      <max_linear_acceleration>1.0</max_linear_acceleration>
      <min_linear_acceleration>-1.0</min_linear_acceleration>
      <max_angular_acceleration>2.0</max_angular_acceleration>
      <min_angular_acceleration>-2.0</min_angular_acceleration>
      <max_wheel_torque>20</max_wheel_torque>
      <max_wheel_acceleration>1.0</max_wheel_acceleration>

      <!-- Топики -->
      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
      <tf_topic>/tf</tf_topic>

      <!-- Фреймы -->
      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>

      <!-- Публиковать TF odom->base_link из Gazebo -->
      <odom_publish_frequency>50</odom_publish_frequency>

    </plugin>
  </gazebo>

  <!-- Трение колёс — важно для физики Gazebo -->
  <gazebo reference="left_wheel">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
  </gazebo>

  <gazebo reference="right_wheel">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
  </gazebo>

</robot>